
.home {
    color: rgb(234, 234, 234);
    padding: 50px;
    padding-top: 70px;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.66)),  
        url("../../../imgs/background.jpeg");
    background-size: cover;        
    background-position: center;  
    background-repeat: no-repeat;  
    background-attachment: fixed;  
          
    overflow: hidden;
    margin: 2rem;
    margin-top: 1rem;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.291);
    height: fit-content;
}



.message{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 0px;
    
}

.message h1{
    font-size: 5rem;
    margin-bottom: 10px;
} 
p{
    font-size: 1.5rem;
} 

#reportLost{
    margin-top: 30px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    width: fit-content;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.home .note{
    color: black;
    padding: 40px;
    margin: 100px;
    margin-bottom: 50px;
    justify-content: center;
    text-align: center;
    background-color: rgb(195, 189, 189);
}

.note span {
    font-weight: bolder;
}

.home #tile{
    text-align: center;
}

.home .dev{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    
}

.dev p{
    text-shadow: 0 0 30px white;
}