nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    padding-left: 50px;
    padding-right: 0;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.291);
    margin: 2rem;
	margin-top: 1rem;
    border-radius: 20px;
}



.adminAcc{
    display: flex;
    justify-content: end;
    padding: 5px;
    padding-right: 50px;
    
    
}

.adminAcc a{
    text-decoration: none;
    color: rgb(53, 53, 53);
    font-weight: 900;
}

.option a{
    text-decoration: none;
    color: #333333;
}

.option{
    display: flex;
    gap: 40px;
}

.logo{
    display: flex;
    align-items: end;
    }

.logo img{
    width: 50px;
    }
