*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

#root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}